name: pipeline

on:
  push:
    branches: 
      - develop
      - main
  pull_request:
    branches:
      - '*'

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    
    - name: Use GoLang
      uses: actions/setup-go@v3
      with:
        go-version: '1.18.1'

    - name: Install dependencies
      run: |
        make lint-tool
        make download

    - name: Run tests
      run: make test-ci

    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@master
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}